@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-white: #fff;
    --color-dark: #000;
    --bg-color: #D6D6D6;
    --grey-color: #5c5b5b;
}

.dark-mode{
    --color-white: #000;
    --color-dark: #fff;
    --bg-color: #363636;
    --grey-color: #b9b9b9;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
}

.header{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);

    .container .logo{
        color: var(--color-dark);

        h1{
            font-weight: 600;
            font-size: 40px;
        }
    }

    .container .mode{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        cursor: pointer;

        i{
            font-size: 25px;
            color: var(--color-dark);
        }

        h1{
            font-weight: 600;
            color: var(--color-dark);
        }
    }
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    a{
        text-decoration: none;
    }
}

.filter{
    margin-top: 20px;
    .container{
        padding: 10px;
        cursor: pointer;

        .search{
            border: 1px solid var(--color-dark);
            width: 35vw;
            height: 50px;
            border-radius: 5px;
            background-color: var(--color-white);
            display: flex;
            align-items: center;
            justify-content: center;

            i{
                font-size: 20px;
                margin-left: 20px;
                margin-right: 10px;
                color: var(--color-dark);
            }
        }

        .search input{
            width: 100%;
            height: 100%;
            font-size: 20px;
            border: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            color: var(--color-dark);
            background-color: var(--color-white);

            &:focus{
                border: none;
            }
        }
    }
}

.filter .container{
    .fil{
        background-color: var(--color-white);
        padding: 10px 20px;
        border-radius: 5px;
        position: relative;
        width: 200px;

        span{
            font-size: 18px;
            font-weight: 500;
            color: var(--color-dark);
        }

        i{
            font-size: 15px;
            margin-left: 10px;
            font-weight: 700;
            color: var(--color-dark);
            position: absolute;
            right: 10px;
            top: 15px;
        }

        .choosen{
            display: none;
        }
    }

    .fil:hover{
        .choosen{
            display: block;
            position: absolute;
            background-color: var(--color-white);
            width: 100%;
            list-style: none;
            left: 0;
            margin-top: 10px;
            border-radius: 5px;
            padding: 5px 10px;

            li{
                font-size: 15px;
                font-weight: 600;
                padding: 8px 5px;
                color: var(--color-dark);

                &:hover{
                    background-color: var(--grey-color);
                }
            }
        }
    }
}


.hidden {
    display: none !important;
}

.countries{
    padding: 10px;
    max-width: 1300px;
    margin: 20px auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    a{
        text-decoration: none;
        display: block;
        
        .card{
            background-color: var(--color-white);
            padding: 5px 10px 10px;
            border-radius: 5px;
            width: 300px;
            max-width: 100vw;

            .image{
                width: 100%;
                height: 180px;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
    
            .title{
                font-size: 22px;
                font-weight: 500;
                color: var(--color-dark);
            }
    
            .info{
                display: flex;
                align-items: center;
                gap: 10px;
    
                h2{
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--color-dark);
                }
    
                p{
                    font-size: 18px;
                    color: var(--color-dark);
                }
            }
        }
    }
}

.loader{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    background-color: #363636ce;    
    display: flex;
    align-items: center;
    justify-content: center;

    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
}


// about page
.back{
    display: inline-block;
    padding: 5px 10px;
    margin: 20px 50px;
    background-color: var(--color-white);
    border-radius: 5px;
    cursor: pointer;
    
    i{
        font-size: 20px;
        display: inherit;
        margin-right: 10px;
        color: var(--color-dark);
    }

    h1{
        display: inherit;
        font-size: 22px;
        font-weight: 500;
        color: var(--color-dark);
    }
}

.show{
    width: 98vw;
    max-width: 1300px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .images{
        width: 120%;
        padding: 10px;

        img{
            width: 100%;
        }
    }

    .info{
        padding-left: 21%;
        .info__title{
            font-weight: 500;
            color: var(--color-dark);
        }

        .info__data{
            margin-bottom: 5px;
        }

        .info__data span{
            display: inline-block;
            color: var(--color-dark);
            font-size: 18px;
        }
        .info__data p{
            display: inline-block;
            color: var(--grey-color);
            font-size: 18px;
            margin-left: 10px;
        }

        .info__borders h1{
            font-size: 23px;
            font-weight: 500;
            display: inline-block;
            color: var(--color-dark);
        }

        .info__borders span{
            padding: 5px 10px;
            display: inline-block;
            background-color: var(--color-white);
            border-radius: 5px;
            min-width: 50px;
            margin-left: 10px;
            cursor: pointer;
            color: var(--color-dark);
        }
    }
}













@media screen and (max-width: 992px) {
    .show{
        grid-template-columns: repeat(1, 1fr);

        .images{
            width: 100%;
        }

        .info{
            padding: 10px;
        }
    }
}
@media screen and (max-width: 768px) {
    .countries{
        grid-template-columns: repeat(2, 1fr);
    }

    .header .container .mode h1{
        display: none;
    }

    .filter .container{
        display: block;

        .search{
            width: 80vw;
            margin: 0 auto;
        }

        .fil{
            display: inline-block;
            margin-top: 10px;
            margin-left: 10px;
        }
    }
}